@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavascriptInHead
{
    <script src="~/Scripts/Courses/courses-controller.js"></script>
    <script type="text/javascript">
        registrationModule.factory('bootstrappedCourses', function() {
            return {
                courses: @Html.Raw(Model)
            };
        });
    </script>   
}

<div class="container" ng-controller="CoursesController">

</div>